@import "tailwindcss" theme(static);
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Public Sans", sans-serif;
}

:root {
  --ui-bg: white;
}

.dark {
  --ui-bg: #191919;
  --ui-bg-muted: #202020;
  --ui-bg-elevated: #262626;
  --ui-bg-accented: #2f2f2f;
}

html.dark .tiptap .shiki,
html.dark .tiptap .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--ui-bg-muted) !important;
}

.prose a {
  color: var(--ui-primary);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.prose a:hover {
  opacity: 0.8;
}
